* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f5f7;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(110, 101, 101, 0.1) 0px 2px 10px 0px;
  height: auto;
}

header .opensidebar,
header .avatar {
  margin: 8px;
  cursor: pointer;
}

.paginatejs,
.idealeaf,
.sketchquick {
  height: 3em;
  width: 8em;
  border-radius: 0.5em;
  background-color: gray;
  cursor: pointer;
  outline: none;
  border-width: 0;
}

.avatar {
  height: 18px;
  width: 18px;
  background-color: whitesmoke;
  border-radius: 5px;
  /*  transition-property: width, height, top, left;
  transition-duration: 0.3s;
  transition-timing-function: linear;*/
}

section {
  position: relative;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.main {
  margin-top: 0.5rem;
  max-width: 100%;
  display: flex;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.widget>*+* {
  margin-top: 1.25em;
}

.widget {
  float: left;
  width: 68%;
  font-size: 1.125rem;
}

@media (max-width: 850px) {

  .widget,
  .showwidget {
    float: none;
    width: 1200px;
    max-width: 88%;
    margin: 0 auto;
    position: relative;
  }
}

.widget>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.article_title.onlytext {
  margin: 8px;
}

.article_title {
  position: relative;
  width: 100%;
}

.article_title>a {
  text-decoration: none;
  color: #333;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

.article_title h3 {
  display: inline;
}

.date-published {
  font-size: small;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0px;
  border-radius: 5px;
  background-color: #f2f5f7;
  transition: width 0.3s;
  z-index: 9999;
  box-shadow: -2px -2px rgb(216, 216, 216);
}

.projects {
  width: 100%;
}

.sidebar a {
  position: relative;
  left: 30px;
  display: block;
  margin: 8px;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}

.more {
  text-align: center;
}

.more button {
  font-size: large;
  cursor: pointer;
}

.Error404 {
  text-align: center;
  margin: 15px;
  font-size: larger;
  font-weight: bold;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.closeNav {
  cursor: pointer;
}

.socials a {
  margin: 3px;
}

@media (min-width: 768px) {
  section {
    width: 80%;
    /*top: 2em;*/
  }

  .projects {
    width: 80%;
  }
}

/*loading spinner before data is rendered*/
.loader {
  text-align: center;
}

.loader svg {
  position: relative;
  top: 3em;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}